:root {
    --primary:  hsl(4, 100%, 67%);
    --neutral-dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

* {
    font-size: 16px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--charcoal-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 52px;
    color: var(--neutral-dark-slate-grey);
}

ul {
    list-style: none;
    display: flex;
    gap: 12px;
    flex-direction: column;
}

li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.description {
    font-size: 16px;
    color: var(--charcoal-grey);
    max-width: 400px;
}

.background_content {
    width: 50%;
    height: 50%;
    background-color: var(--white);
    border-radius: 32px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
}

.content_left {
    flex: 1;
}

